.header_text {
    color: white;
    font-size: 2em;
    margin: 0;
}
.bizDay_header {
    letter-spacing: 1px;
}
.bizDay_text {
    font-family: 'Anton', sans-serif;
}
.bizDay_text_resetLetterSpacing {
    letter-spacing: normal;
}