{{!-- <li class="bizday_card_topic col-lg-3 m-2"> --}}
<li class="bizday_card_topic m-2">
    <img class="bizday_card_topic_image" src="{{~image_url~}}" alt="{{~image_alt_text~}}">
    <h4 class="bizday_card_topic_title">{{title}}</h4>
    <p class="bizday_card_topic_description">{{description}}</p>
</li>