{{#with header}}
<div class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-dark" data-overlay data-sticky="top">
    <div class="container">
      <a class="navbar-brand fade-page" href="index.html">
        <p class="xbizDay_header">{{orgName}}</p>
      </a>
      <div class="collapse navbar-collapse justify-content-end">
        <a href="#" class="btn btn-white ml-lg-3">{{ctaText}}</a>
      </div>
    </div>
  </nav>
</div>
{{/with}}