{{#with header}}
<div class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-dark bizday_header_nav" data-overlay data-sticky="top">
    <div class="container">
      <a class="navbar-brand fade-page" href="index.html">
        <img class="bizday_header_logo--black" src="assets/bizdayla/img/BizDay_Logo_Color_Black.svg" alt="BizDay.LA Logo"/>
        <img class="bizday_header_logo--white" src="assets/bizdayla/img/BizDay_Logo_Color_White.svg" alt="BizDay.LA Logo"/>
      </a>
    </div>
  </nav>
</div>
{{/with}}