<section class="text-dark has-divider">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-8 mb-3 mb-md-0 mx-auto text-center">
        <h3>Special Offer</h3>
        <p>Contact <strong>The Metaphor Club</strong> for a tour of their outstanding co-working  space, and use the <a href="https://themetaphorclub.gymmasteronline.com/portal/signup/details/1240fa1ba05770b8efb75fb02a22a618">BizDay.LA Discount Link</a> for a 10% discount on your membership fee.</p>
      </div>
    </div>
  </div>
</section>