:root {
    --hero_blue: #202055;
    --nav_blue: #020122;
    --white: #ffffff;
}
.header_text {
    color: white;
    font-size: 2em;
    margin: 0;
}
.bizDay_text {
    font-family: 'Anton', sans-serif;
}
.bizDay_text_resetLetterSpacing {
    letter-spacing: normal;
}
.bizday_header_nav .navbar-brand {
    color: var(--nav_blue);
}
.bizday_header_nav .navbar-brand:hover {
    color: var(--nav_blue);
}
.bizday_header_nav.scrolled .navbar-brand {
    color: var(--white);
}
.bizday_header_nav .btn {
    color: var(--nav_blue);
}
.bizday_header_nav.scrolled.navbar[data-sticky="top"] {
    background-color: var(--nav_blue);
    color: var(--white);
}
.bizday_hero {
    background-color: var(--hero_blue)!important;
}
.bizday_speaker_main {
    background-color: var(--white);
}
.bizday_speaker_header {
    font-size: 1.88rem;
}
.bizday_speaker_description {
    font-size: 1.125rem;    
}