/* BizDay.LA */
.bizday_none {
    display: none;
}
:root {
    --dark: #212529;
    --hero_blue: #202055;
    --gray: dee2e6;
    --nav_blue: #020122;
    --primary-background: #f4442e;
    --primary-border: #dc3545;;
    --primary-background--hover: #c33523;
    --primary-border--hover: #c33523;
    --secondary-background: #3837A0;
    --secondary-border: #3837A0;
    --secondary-background--hover: #2A2A72;
    --secondary-border--hover: #2A2A72;
    --white: #ffffff;
}
.bizday_header_nav .navbar-brand {
    color: var(--nav_blue);
    width: 5rem;
}
.bizday_header_nav .navbar-brand.bizday_header_logo--transparent {
    visibility: hidden;
}
.bizday_header_nav .navbar-brand .bizday_header_logo--white {
    display: none;
}
.bizday_header_nav.scrolled .navbar-brand .bizday_header_logo--white {
    display: initial;
}
.bizday_header_nav .navbar-brand:hover {
    color: var(--nav_blue);
}
.bizday_header_nav.scrolled .navbar-brand {
    visibility: visible;
}
.bizday_header_nav .navbar-brand .bizday_header_logo--black {
    display: initial;
}
.bizday_header_nav.scrolled .navbar-brand .bizday_header_logo--black {
    display: none;
}
.bizday_header_nav .btn {
    color: var(--nav_blue);
}
.bizday_header_nav.scrolled.navbar[data-sticky="top"] {
    background-color: var(--nav_blue);
    color: var(--white);
}
.bizday_banner {
    position: fixed;
    text-align: center;
    background: var(--primary-2);
    width: 100%;
    z-index: 9999;
    padding: 0;
    top: 4em;
}
.bizday_banner_not_found {
    position: fixed;
    text-align: center;
    background: var(--primary-2);
    width: 100%;
    z-index: 9999;
    padding: 0;
}
.bizday_banner_link {
    color: white;
}
.bizday_hero {
    background-color: var(--hero_blue)!important;
}
.bizday_hero_date {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.bizday_hero_logo {
    width: 4em;
}
svg.bizday_hero_svg_left * {
    fill: var(--primary);
}
svg.bizday_hero_svg_right * {
    fill: var(--primary-2);
}
.bizday_sponsors_by_text {
    font-weight: bold;
}
.bizday_sponsors_icon {
    height: 4rem;
}
.bizday_sponsors_icon--height_adjust {
    height: 5rem;
}
.bizday_sponsors_venue_list_item {
    max-width: 80%;
    min-width: 40%;
}
@media screen and (max-width: 575px) {
    .bizday_sponsors_venue_list_item {
        margin-right: 0 !important;
    }
}
.bizday_sponsors_venue_icon {
    height: 10rem;
}
.bizday_speaker_page_title,
.bizday_videos_page_title {
    text-align: center;
}
section.has-divider .bizday_speaker_container {
    padding-top: 4em;
}
.bizday_speaker_header {
    font-size: 1.88rem;
}
.bizday_speaker_header_title {
    font-size: 1.2rem;
}
.bizday_speaker_description {
    font-size: 1.125rem;    
}
.bizday_code-of-conduct{
    margin-bottom: 1em;
}
.bizday_code-of-conduct > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 920px;
}
.bizday_code-of-conduct_page_title {
    text-align: center;

}
.bizday_code-of-conduct div {
    line-height: 200%;
    padding: 2em;
}
.bizday_code-of-conduct div:nth-child(2n+2) {
    background-color: var(--nav_blue);
    color: white;
}
.bizday_code-of-conduct h2 {
    margin-bottom: 2rem;
    text-align: center;
}
.bizday_code-of-conduct div:nth-child(2n+2) h2 {
    color: white;
}
.bizday_code-of-conduct div p {
    font-size: 16px;
}
.bizday_code-of-conduct div:last-child p {
    margin-bottom: 0;
}
.bizday_code-of-conduct div:last-child a {
    color: white;
}
div.bizday_not-found_actions > * {
    margin: 1em;
}
.bizday_not-found_header {
    text-align: center;
}
a.bizday_not-found_header_link {
    display: block;
}
img.bizday_not-found_header_logo {
    width: 8em;
}
section.bizday_videos {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bizday_videos_player {
    background-color: var(--nav_blue);
    max-width: 80%;
    min-width: 50%;
}
.bizday_videos_player_viewer {
    height: 400px;
    width: 600px;
}
.bizday_videos_player_subscribe {
    background-color: var(--nav_blue);
    padding: 0.5em 0.5em;
}
#___ytsubscribe_0 {
    display: block!important;
    margin: 0 0 0 auto!important;
}
.bizday_videos_secondary_title {
    margin-top: 1em;
}
.bizday_videos_items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}
.bizday_videos_item {
    margin: 0.5em;
    padding: 0.5em;
}
.bizday_videos_item:hover,
.bizday_videos_item:focus {
    background-color: var(--secondary-background);
    color: var(--white);
}
.bizday_videos_item.bizday_videos_item--active {
    background-color: var(--secondary-background--hover);
    color: var(--white);
}
.bizday_videos_item_title {
    margin-bottom: 0.5rem;
}
.bizday_videos_item_interviewer {
    font-size: 0.8em;
}
/** General */
a:hover,
a:focus {
    text-decoration: underline;
}
.hr_style {
    background-color: var(--gray);
    height: 2px;
    margin: 1px;
}
.divider.flip-y {
    padding: 0;
    height: 100px;
}
.bizday_btn-primary {
    background-color: var(--primary-background);
    border-color: var(--primary-border);
}
.bizday_btn-primary:hover,
.bizday_btn-primary:active.btn.btn-lg {
    background-color: var(--primary-background--hover);
    border-color: var(--primary-border--hover);
}
.bizday_btn-secondary {
    background-color: var(--secondary-background);
    border-color: var(--secondary-border);
}
.bizday_btn-secondary:hover,
.bizday_btn-secondary:active.btn.btn-lg {
    background-color: var(--secondary-background--hover);
    border-color: var(--secondary-border--hover);
}